@model DojoManagmentSystem.ViewModels.UnlockViewModel

@using (Html.BeginForm("UnlockSession", "Session", FormMethod.Post, new { id = "ModalForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Username);
    <div class="form-horizontal">
        <h4>Unlock Session</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                <fieldset disabled="">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="submitButton" value="Unlock" class="btn btn-primary" />
                <button type="button" class="btn btn-primary float-right" data-dismiss="modal"><span aria-hidden="true">Cancel</span></button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
