@model Business.Models.Payment

@{
    Layout = null;
    ViewBag.Title = "IndexById";
}

<!DOCTYPE html>
<html>

<head>
    <title>Print Receipt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/images/logo.jpg" class="brand_logo2" alt="Logo" height="100">
            </div>
            <div class="col-6 h3 font-weight-bold" style="color:#2C3E50">
                <br /> Wisconsin Bodokai Martial Arts
            </div>
            <div class="col h5">
                Wisconsin Budokai, LLC
                3260 Church St
                Stevens Point, WI 54481
                (715) 869-KICK
            </div>
        </div>
        <hr />
    </div>

    <div>
        <h2>Payment Details for: @Model.Member.FullName</h2>
        <div class="font-weight-bold text-right">Printed On: @ViewBag.DateTime</div><br />
        <table class="table table-bordered table-condensed table-striped">
            <tr>
                <td>
                    <table class="table table-bordered table-condensed table-striped">
                        <tr>
                            <td>Description</td>
                            <td>@Model.Description</td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>@Model.Amount</td>
                        </tr>
                        <tr>
                            <td>Payment Type</td>
                            <td>@Model.PaymentType</td>
                        </tr>
                        <tr>
                            <td>Date of Payment</td>
                            <td>@Model.Date</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
