@model Business.Models.Contact

@{
    string None = "None";
}

<div id="form">
    <div class="row">
        <h4 class="col-sm-2">Contact</h4>

    </div>
    <hr />

    @using (Ajax.BeginForm("Edit", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Post",
        UpdateTargetId = "form"
    }))
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.MemberId)
        <div class="form-group row">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.RelationShip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.RelationShip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RelationShip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.IsPrimary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <div class="custom-control custom-checkbox">
                    @Html.EditorFor(model => model.IsPrimary, new { htmlAttributes = new { @class = "custom-control-input", id = "IsPrimary" } })
                    <label class="custom-control-label" for="IsPrimary"></label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-1">
                <input type="submit" value="Save" class="btn btn-primary" />

            </div>
            @if (ViewBag.IsValid)
            {

                <div id="successTag" class="alert alert-dismissible alert-success mb-0" style="padding: .4em 1em;">
                    <strong>The contact has been succesfully saved.</strong>
                    <script>
                        displaySaveMessage();
                    </script>
                </div>
            }
        </div>
    </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
