@model DojoManagmentSystem.ViewModels.ListViewModel<DojoManagmentSystem.Models.ClassSession>
@using DojoManagmentSystem.Infastructure.Extensions

<div class="table-responsive" id="pagingList" data-page="@Model.CurrentPage" data-sort="@Model.CurrentSort" data-search="@Model.CurrentSearch" data-baseurl="/ClassSession/List/@ViewBag.DisciplineId">
    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">
                    Open
                </th>
                <th scope="col">
                    Day
                </th>
                <th scope="col">
                    <a data-sort="@ViewBag.StartTimeSortParm" href="" class="sortbutton">Start Time</a>
                </th>
                <th scope="col">
                    <a data-sort="@ViewBag.EndTimeSortParm" href="" class="sortbutton">End Time</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjectList)
            {
            <tr id="linkRow" data-link="/ClassSession/Details/@item.Id">
                <td scope="row">
                    <a class="btn btn-primary" href="/ClassSession/Details/@item.Id">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.DayOfWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <button type="button" class="btn btn-danger modal-link" data-targeturl="/ClassSession/Delete/@item.Id">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    @Html.GeneratePagingButtons(Model)
</div>
