@model DojoManagmentSystem.ViewModels.ListViewModel<DojoManagmentSystem.Models.Discipline>
@using DojoManagmentSystem.Infastructure.Extensions
<div class="table-responsive" id="pagingList" data-page="@Model.CurrentPage" data-sort="@Model.CurrentSort" data-search="@Model.CurrentSearch" data-baseurl="/Disciplines/List">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    Open
                </th>
                <th scope="col">
                    <a data-sort="@ViewBag.NameSortParm" href="" class="sortbutton">Name</a>
                </th>
                <th scope="col">
                    Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjectList.Where(x => !x.IsArchived))
            {
                <tr id="linkRow" data-link="/Disciplines/Details/@item.Id">
                    <td scope="row">
                        <a class="btn btn-primary" href="/Disciplines/Details/@item.Id">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger modal-link" data-targeturl="/Disciplines/Delete/@item.Id">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.GeneratePagingButtons(Model)
</div>
