@model Web.ViewModels.HomeViewModel


@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/LandingPage.css")" rel="stylesheet" type="text/css" />


<div class="container">
    <div class="row">
        <div id="indexDiv2" class="col"><button type="button" class="btn btn-primary btn-lg btn-block modal-link" data-targeturl="/Member/Create">Add New Member</button></div>
        <div id="indexDiv2" class="col"><button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href='/Payments'">Track Payments</button></div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-6">
        <table id="table1" class="table home__table col">
            <div class="col-sm-12 alert alert-primary table-title">
                Class Sessions Today
                <button type="button" style="margin-top: -3px;" class="btn-sm btn-info modal-link float-right" data-targeturl="/ClassSession/Index">
                    Other Class Sessions
                </button>
            </div>
            <thead class="thead-dark tablerows">
                <tr>
                    <th>Class</th>
                    <th>Day of the Week</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ClassSessions.Where(x => !x.IsArchived))
                {
                    <tr class="modal-row-link" data-targeturl="/AttendanceSheet/Create/@item.Id">
                        <td>@Html.DisplayFor(modelItem => item.Discipline.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.DayOfWeek)</td>
                        <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>



    <div class="col-md-6">
        <div class="col-sm-12 alert alert-primary table-title">Memberships Expiring</div>
        <table id="table2" class="table home__table col">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Discipline</th>
                    <th>End Date</th>
                    <th>Remaining Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DisciplineEnrolledMembers.Where(x => !x.IsArchived))
                {
                    if (item.Expired == true)
                    {
                        ViewBag.ClassName = "redrow";

                    }
                    else if (item.ExpiringSoon == true)
                    {
                        ViewBag.ClassName = "yellowrow";
                    }
                    else
                    {
                        ViewBag.ClassName = null;
                    }
                    <tr class="@ViewBag.ClassName">
                        <td>@Html.DisplayFor(modelItem => item.Member.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Discipline.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.RemainingCost)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Modal.js")
}