@model Business.Models.Waiver

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastUserModifiedBy.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUserModifiedBy.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsArchived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsArchived)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
