@model DojoManagmentSystem.Models.Waiver



@using (Html.BeginForm("Edit", "Waiver", FormMethod.Post, new { id = "ModalForm" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Waiver</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateSigned, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateSigned, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateSigned, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsSigned, htmlAttributes: new { @class = "control-label col-md-8" })
        <div class="col-md-8">
            <div class="custom-control custom-checkbox">
                @Html.EditorFor(model => model.IsSigned, new { htmlAttributes = new { @class = "custom-control-input", id = "IsSigned" } })
                <label class="custom-control-label" for="IsSigned"></label>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.MemberId)

    <div class="form-group">
        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn btn-default btn-primary" />
            <button type="button" class="btn btn-primary float-right" data-dismiss="modal"><span aria-hidden="true">Cancel</span></button>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
