@model DojoManagmentSystem.ViewModels.ListViewModel<Business.Models.DisciplineEnrolledMember>
@using DojoManagmentSystem.Infastructure.Extensions

<div class="table-responsive" id="pagingList" data-page="@Model.CurrentPage" data-sort="@Model.CurrentSort" data-search="@Model.CurrentSearch" data-baseurl="/DisciplineEnrolledMember/DisciplineList/@ViewBag.MemberId">
    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">
                    Open
                </th>
                <th scope="col">
                    <a data-sort="@ViewBag.NameSortParm" href="" class="sortbutton">Discipline</a>
                </th>
                <th scope="col">
                    Cost
                </th>
                <th scope="col">
                    <a data-sort="@ViewBag.PaymentRemainingSortParm" class="sortbutton" href="">Still Owes</a>
                </th>
                <th scope="col">
                    <a data-sort="@ViewBag.EndDateSortParm" class="sortbutton" href="">End Date</a>
                </th>
                <th>Attended in this Month</th>
                <th>Total Attended</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjectList.Where(x => !x.IsArchived))
            {
                if (item.Expired == true)
                {
                    ViewBag.ClassName = "redrow";
                }
                else if (item.ExpiringSoon == true)
                {
                    ViewBag.ClassName = "yellowrow";
                }
                else
                {
                    ViewBag.ClassName = string.Empty;
                }
            <tr data-targeturl="/DisciplineEnrolledMember/Edit/?id=@item.Id&origin=member" class="modal-row-link @ViewBag.ClassName">
                <td scope="row">
                    <button type="button" class="btn btn-primary modal-link" data-targeturl="/DisciplineEnrolledMember/Edit/?id=@item.Id&origin=member">
                        <i class="fas fa-external-link-alt"></i>
                    </button>
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Discipline.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemainingCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCount)
                </td>
                <td>
                    <button type="button" class="btn btn-danger modal-link" data-targeturl="/DisciplineEnrolledMember/Delete/@item.Id">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    @Html.GeneratePagingButtons(Model)
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Modal.js")
}