@model DojoManagmentSystem.Models.MemberEmail


<div id="form">
    <div class="row">
        <h4 class="col-sm-2">Email</h4>
        @if (ViewBag.IsValid)
        {

            <div id="successTag" class="alert alert-dismissible alert-success mb-0" style="padding: .4em 1em;">
                <strong>The payment has been succesfully saved.</strong>
                <script>
                    setTimeout(function () {
                        $("#successTag").fadeOut("normal", function () {
                            $(this).remove();
                        })
                    }, 2000);
                </script>
            </div>
        }
    </div>
    <hr />

    @using (Html.BeginForm("Edit", "MemberEmail", FormMethod.Post, new { id = "ModalForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ContactID)

            <div class="form-group row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
