@model Business.Models.Member
@using (Html.BeginForm("Create", "Member", FormMethod.Post, new { id = "ModalForm" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Member</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsInstructor, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10">
            <div class="custom-control custom-checkbox">
                @Html.EditorFor(model => model.IsInstructor, new { htmlAttributes = new { @class = "custom-control-input", id = "IsInstructor" } })
                <label class="custom-control-label" for="IsInstructor"></label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-8" >Enroll in a Discipline</label>
        <div class="col-md-10">
            <select name="DropDown" class="">
                <option value="None">--None--</option>
                @foreach (var item in ViewBag.Disciplines)
                {
                <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="submitButton" value="Create" class="btn btn-primary" />
            <button type="button" class="btn btn-primary float-right" data-dismiss="modal"><span aria-hidden="true">Cancel</span></button>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
