@model DojoManagmentSystem.Models.DisciplineEnrolledMember

<div style="text-align:center">
    <h1>Enroll Member</h1>
</div>

@using (Html.BeginForm("Enroll", "Member", FormMethod.Post, new { id = "ModalForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="padding-left:15px">
            <dt>
                @Html.DisplayNameFor(model => model.Member.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Member.FullName)
            </dd>

            <dt>
                Discipline
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Discipline.Name)
            </dd>
        </div>

        @Html.HiddenFor(model => model.MemberId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.HiddenFor(model => model.DisciplineId, new { htmlAttributes = new { @class = "form-control" } })

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MembershipLength, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MembershipLength, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MembershipLength, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default btn-primary" />
                <button type="button" class="btn btn-primary float-right" data-dismiss="modal"><span aria-hidden="true">Cancel</span></button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}