@model DojoManagmentSystem.ViewModels.ListViewModel<Business.Models.AttendanceSheet>
@using DojoManagmentSystem.Infastructure.Extensions

<div class="table-responsive" id="pagingList" data-page="@Model.CurrentPage" data-sort="@Model.CurrentSort" data-search="@Model.CurrentSearch" data-baseurl="/AttendanceSheet/List/@ViewBag.SessionId">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    Open
                </th>
                <th scope="col">
                    <a data-sort="@ViewBag.DateSortParm" href="" class="sortbutton">Date</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjectList)
            {
                <tr id="linkRow" data-link="/AttendanceSheet/Details/@item.Id">
                    <td scope="row">
                        <a class="btn btn-primary" href="/AttendanceSheet/Details/@item.Id">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttendanceDate)
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger modal-link" data-targeturl="/AttendanceSheet/Delete/@item.Id">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.GeneratePagingButtons(Model)
</div>
